body{
    font-family: 'Signika', sans-serif;
    margin: 0;
}

.nav_bar{
    height: 85px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333D4C;
    border-bottom: 3px solid #2E7377;
    
}
#logo{
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 15px;
    
}
#logo p{
    font-size: 25px;
    font-weight: bold;
    margin-top: 40px;
    color: white;
    
}
#logo img{
    width: 80px;
    height: 80px;
}

span{
    color: #F35710;
    letter-spacing: 5px;
   
}

.menu_bar ul{
    display: flex;
    list-style: none;
   
    
}

.menu_bar ul li a{
    text-decoration: none;
    padding: 12px 20px ;
    font-size: 16px;
    margin-left: 15px;
    color: white;    
}

#login a {
    padding: 3px 15px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    margin-right: 120px;
    border: 2px solid #F35710;
    border-radius: 10px;
    

}


.banner_part{
    display: flex;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 40px;
}
.banner_details{
    margin-left: 80px;
    width: 640px;
    
  
    
}
.banner_details h1{
    font-size: 70px;
    font-weight: bold;
    text-transform:capitalize;
    color: #575757;

}
.banner_details #banner_font{
    font-size: 20px;
    color: #828282;
   
}
.banner_details a{
    padding: 10px 25px;
    text-decoration: none;
    font-size: 13px;
    border-radius: 15px;
    background: linear-gradient(#eeb59c,#f14800);
    color: white;
    box-shadow: 2px 2px 10px  #ff4f04;
 
}

.banner_img img{
    width: 100%;
    height: 550px;
    margin-right: 20px;
}

.banner_bg{
    background-image: url(./img/Frame\ 59.jpg);
    background-size: cover;

}
.banner_two{
    margin-top: 100px;
}
 h2{
    font-size: 50px;
    color: #575757;
    
}

.banner_details p{
    font-size: 16px;
    color: #828282;
    margin-bottom: 70px;
}
.foods_container{
    height:750px ;
    width: 100%;
}
.foods_container h2{
   text-align: center;
}
.foods_container p{
    text-align: center;
    font-size: 16px;
    color: #828282;
    margin-bottom: 30px;
}

.recipe_flexible{
    display: flex;
    width: 25%;
    margin-left: 10%;
    
}
.recipe_list{
    margin-right: 10%;
    border-radius: 25px;
    padding: 10px 20px;
    box-shadow: 1px 1px 8px black;
}

.recipe_list img{
    width: 300px;
    height: 200px;
    border-radius: 25px;
   
}

.recipe_list h1{
    font-size: 30px;
    font-weight: bold;
}

.recipe_list p{
    font-size: 18px;
    text-align: justify;
    
}

.social_media{
    width: 80%;
    height: 120px;
    box-shadow: 1px 1px 8px black;
    margin-left: 10%;
    display: flex;
    border-radius: 12px;
    justify-content: center;
    margin-top: 50px;
    justify-content: space-around;
}
#social_media_bg{
    height: 200px;
    width: 100%;


}

.social_media_bar h1{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 0;
}
.social_media_bar p{
    display: block;
    margin-top: 5px;
}
footer{
    background-color: #0B0D17;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 150px;
    width: 100%;
}

footer h1{
    color: #a5a5a5;
}

footer p{
    color: white;
    text-transform: capitalize;
}